.contact {
    position: relative;
    background: $color-primary;
    height: 100vh;
    padding: 50px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: $color-accent;
        z-index: 0;
    }

    .side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        height: 100px;

        .baffle_text {
            display: inline-block;
            text-align: center;
            transform: inherit;
            span {
                color: $color-default;
                margin: 10px 0 20px 0;
                font-size: 40px;
                line-height: 40px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 10px;
            }
        }
    }

    .profile-pic {
        display: block;
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin: 30px auto;
        object-fit: cover;
        object-position: center;
    }

    .line-text{
      &.text-white{
        h5{
            font-size: 1.8rem;
            text-decoration: underline;
            margin-bottom: 0;
            color: $color-accent3;
        }

        p{
            margin-bottom: 20px;
        }
        a{
            display: inline-block;
            color: $color-default;
            margin-bottom: 20px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20vw;
            height: 100%;
            background: $color-accent;
            z-index: 0;
        }

        .side {
            height: calc(100vh - 100px);
            margin-bottom: 0;

            .baffle_text {
                transform: rotate(-90deg);

                span {
                    font-size: 60px;
                    line-height: 60px;
                }
            }
        }
    }
}
